<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Contact name:</b>
  <%= @client.contact_name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @client.telephone %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
