<nav>
<h2>Menu</h2>
<ul>
  <li><%= link_to "Productos", products_path %></li>
  <li><%= link_to "Categorías", categories_path %></li>
  <li><%= link_to "Clientes", clients_url %></li>
  <li><%= link_to "Tiendas", stores_path %></li>
</ul>
</nav>
<style>
</style>
<%= yield %>
